DATABASE_URL="postgresql://postgres:postgres@localhost:5432/guichet_ressources?schema=public"
JWT_SECRET="change-me"
AWS_REGION="eu-central-1"
AWS_S3_BUCKET="guichet-ressources-documents-prod-006600132933-eu-central-1-an"
AWS_S3_PREFIX="requests"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
PORT=4000
FRONTEND_ORIGINS="http://localhost:3000"
ADMIN_EMAIL="admin@economienumerique.gouv.cd"
ADMIN_PASSWORD="Admin12345!"
RECEIPT_LOGO_PATH="../frontend/public/assets/ministry-logo.png"
MAIL_FROM="Ministère de l'Économie Numérique <no-reply@economienumerique.gouv.cd>"
SMTP_HOST=""
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=""
SMTP_PASS=""
